* {
    box-sizing: border-box;
    /*border:solid black*/
}

.containers, section{
    @include reset;
    width:70%;
}
.navbar{
    nav{
        .brand-logo{
            position: relative;
            left: 1em;
        }
    background-color: black;
    ul{
        li{
            @include reset;
        }
    }
    }
}
.carousel{
    height: 27em;
    img{
        @include fit;
    }

}
.logo, .brand-logo{
    @include reset;
    height: 2em;
    
}
.row, .col, div.col.s4{
    @include reset;
    height:20em;
 
    img{
        @include reset;
        @include fit;
    }
    

}